<?xml version='1.0' encoding='utf-8'?>
<widget id="com.turbonerds.musclesrus" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Muscles R' Us</name>
    <description>
        Gain Muscles! Track your progress! BECOME HUGE!
    </description>
    <author email="lincoln@turbonerdgameservers.com" href="http://turbonerdgameservers.com">
        TurboNerds
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
