<h1>Workout Sessions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Workout Plan</th>
      <th>Workout Completed</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @workout_sessions.each do |workout_session| %>
      <tr>
        <td><%= workout_session.workout.name %></td>
        <td><%= time_ago_in_words workout_session.created_at %> ago</td>
        <td><%= link_to 'Edit', edit_workout_session_path(workout_session), class: 'btn btn-sm btn-block btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Workout Session', new_workout_session_path, class: 'btn btn-block btn-success' %>
